@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply text-gray-600 text-xs leading-5 dark:bg-black-900 dark:text-gray-300;
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
::selection {
  @apply text-white bg-orange-500;
}
.avatar:after {
  background: linear-gradient(to top, #a4deff 0%, #ffdaa4 25%, #b6a4ff 50%, #ffa4da 75%, #a4deff 100%);
  background-size: 100% 1500px;
  animation: bg 10s ease-in-out infinite;
}
.dark .avatar:after {
  animation: none;
  background: initial;
}
@keyframes bg {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: 1500px;
  }
}
